# BEFORE YOU USE THIS, REMOVE .EXAMPLE FROM THE NAME!!!
# This file is meant to be an example of the sensitive_vars used
# It is very strongly advised that you do not use these passwords
---
user_password: somepass
root_password: hj12357z
php_password: php74833
